# This gitignore is a whitelist. Inspired by https://rgbcu.be/blog/gitignore

*

!.gitignore
!.python-version
!.env.example

!*.md
!*.py

!Dockerfile
!config.yaml
!docker-compose.yaml
!pyproject.toml
!uv.lock
!requirements.txt

!tests/
!tests/*.py

!tasks/
!tasks/*.md
